{% extends 'firstapp/base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<h1>ROOM LIST</h1>
<div>
    <h2>Меню</h2>
    <nav>
        <a href="{% url 'form' %}">переход к странице form</a>
        <a href="{% url 'index' %}">переход к странице index</a>
    </nav>
    <h2>Список комнат</h2>
    {% if room %}
        {%for r in room%}
            <li>{{r}}</li>
        {%endfor%}
    {%endif%}
</div>
{% endblock %}