<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <li><a href="{% url 'index' %}">Page One</a></li>
            <li><a href="{% url 'form' %}">Page Two</a></li>
        </nav>
    </header>
    <main>
        <div>
            <h2>Меню</h2>
        <nav>
            <li><a href="{% url 'index' %}">переход к странице index</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' user.pk %}">переход к странице profile {{user}}</a></li>
            {%endif%}
            <li><a href="{% url 'form' %}">переход к странице form</a></li>
            <li><a href="{% url 'room' %}">переход к странице rooms, необходим аккаунт</a></li>
            <li><a href="{% url 'login' %}">переход к странице login</a></li>
            <li><a href="{% url 'logout' %}">переход к странице logout</a></li>
            <li><a href="{% url 'register' %}">переход к странице register</a></li>
        </nav>
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer>
        {% if joke %}
            <p>context_proc: {{joke}}</p>

        {%endif%}
    </footer>
    {% load static %}
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
