{% extends 'firstapp/base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<h1>PROFILE</h1>
<div>
    <h2>Профиль пользователя</h2>
    Пользователь: {{object.username}}
    <hr>
    Токен: {% if object.auth_token %}
            {{object.auth_token}}
            {%else %} не создан
             {%endif%}
    <form action="{%url 'update_token'%}">
        <button type="submit" class="btn btn-primary">Refresh Token</button>
    </form>
    <hr>
    <button type="button" id="ajax-btn">Refresh token ajaax</button>
</div>
{% endblock %}